.pageContainer {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* grid-template-columns: repeat(5, 1fr); */
  gap: 0.7em;
  justify-content: center;
}

.unitContainer {
  min-width: 330px;
}

.locationCardContainer {
  /* grid-column: 1/4; */
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  max-width: 900px;
}
.locationCardContainerCollapsed {
  padding: 1.75rem;
  gap: 0.25em;
  grid-column: 1/6;
  display: flex;
  /* padding: 0.9em; */
}
