.container {
  width: 170px;
  border-bottom: 5px solid #6149e9;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0.25em;
  background-color: #fff;
  border-radius: 10px;
  /* padding: 0.2em; */
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px 1px rgb(99 99 107 / 20%);
  box-shadow: 2px 2px 2px 1px rgb(99 99 107 / 20%);
}

.activityHead {
  grid-column: 1/ 5;
  font-size: 0.75rem;
  background-color: black;
  color: lightgray;
  font-family: var(--headingFont);
  /* padding: 0.2em; */
  margin: 0;
}
.header {
  grid-column: 1/ 5;
  font-size: 0.85rem;
  background-color: black;
  color: lightgray;
  font-family: var(--headingFont);
  /* padding: 0.2em; */
  margin: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.timeFrame {
  display: block;
  font-weight: 700;
  font-size: 1rem;
  color: rgb(95, 76, 32);
  justify-content: center;
}

.subHead {
  font-size: 0.7rem;
  background-color: black;
  color: lightgray;
  justify-content: center;
}
