.container {
  height: 100%;
  border-bottom: 5px solid rgb(97, 73, 233);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0.25em;
  padding: 0.25em;
  background-color: white;
  border-radius: 10px;
  padding: 0.2em;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(99, 99, 107, 0.2);
  /* background-color: var(--peach-crayola); */
}

.activityHead {
  grid-column: 1/ 8;
  font-size: 1.2rem;
  background-color: black;
  color: lightgray;
  font-family: var(--headingFont);
  padding: 0.2em;
  margin: 0;
}
.header {
  grid-column: 1/ 8;
  font-size: 1rem;
  background-color: black;
  color: lightgray;
  font-family: var(--headingFont);
  padding: 0.2em;
  margin: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.size {
  grid-column: 1/ 4;
  display: block;
  font-weight: 500;
  font-size: 0.75rem;
  color: black;
  justify-content: center;
}
.timeFrame {
  display: block;
  font-weight: 700;
  font-size: 1rem;
  color: rgb(95, 76, 32);
  justify-content: center;
}

.subHead {
  font-size: 1rem;
  background-color: black;
  color: lightgray;
  justify-content: center;
}

.sizeHead {
  grid-column: 1/ 4;
  font-size: 1rem;
  background-color: black;
  color: lightgray;
  justify-content: center;
}
